Action
{{!-- Weapons --}}
{{#each organizedItems.weapon as |weapon id|}}
{{#if (eq weapon.location "equipped")}}
<div class="grid grid-cols-4 gap-1">
    <img class="w-8 h-8" src="{{weapon.img}}" alt="">
    <div>{{weapon.name}}</div>
</div>
{{/if}}
{{/each}}
{{!-- Armor --}}
{{#each organizedItems.armor as |armor id|}}
{{#if (eq armor.location "equipped")}}
<div class="grid grid-cols-4 gap-1">
    <img class="w-8 h-8" src="{{armor.img}}" alt="">
    <div>{{armor.name}}</div>
</div>
{{/if}}
{{/each}}