@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@source "../module/system/config.mjs";

@theme {
  --color-ft-sheet: oklch(97% 0 0);
  --color-ft-light: oklch(87% 0 0);
  --color-ft-dark: oklch(26.9% 0 0);
  /* --color-ft-dark: oklch(76.8% 0.233 130.85); */
}

@custom-variant dark (&:where(.theme-dark, .theme-dark *));

.fantasy-trip,
.fantasy-trip.application {
  .window-content {
    @apply bg-ft-sheet text-ft-dark dark:bg-ft-dark dark:text-ft-light;

    input,
    textarea,
    select {
      @apply !appearance-auto w-full h-6 shadow-none border rounded-none m-0 p-1 leading-4 border-ft-dark dark:border-ft-light bg-ft-dark/10 text-ft-dark dark:bg-ft-light/10 dark:text-ft-light;
      &::placeholder {
        @apply opacity-80;
      }
      &:focus {
        @apply outline-none shadow-none;
      }
      &[readonly] {
        @apply cursor-not-allowed bg-transparent;
      }
      &[disabled] {
        @apply cursor-not-allowed text-ft-dark/50 dark:text-ft-light/50 border-none;
      }
    }

    table {
      @apply text-xs m-0 p-0 text-ft-dark dark:text-ft-light;
      thead {
        text-shadow: none;
        @apply m-0 p-0 border-none bg-ft-dark dark:bg-ft-light/40 text-ft-light;
      }
      tbody.break {
        &:after {
          content: "";
          @apply block h-4;
        }
      }
      tr:nth-child(even) {
        @apply bg-ft-dark/10 dark:bg-ft-light/10;
      }
      th,
      td {
        @apply p-1 whitespace-nowrap text-center;
        &:first-child {
          @apply text-left w-4;
        }
        &:nth-child(2) {
          @apply text-left;
        }
        &:last-child {
          @apply text-right;
        }
        img {
          @apply border-none m-0 p-0 min-w-[1em] min-h-[1em];
        }
      }
      tfoot {
        text-shadow: none;
        @apply m-0 p-0 border-none bg-ft-dark/40 dark:bg-ft-light/20 text-ft-light;
      }
    }

    nav.sheet-tabs.tabs {
      @apply my-2 border-ft-dark dark:border-ft-light text-[0.6rem] uppercase;
      a {
        @apply text-ft-dark dark:text-ft-light;
        &.active {
          @apply font-bold;
        }
      }
    }

    section.tab {
      @apply pr-4 overflow-y-auto;
    }

    section[data-tab="notes"] {
      .prosemirror.editor {
        .editor-content {
          @apply mt-6 block;
        }
        .editor-container {
          @apply mt-6 hidden overflow-y-auto;
        }
        &.active {
          a {
            @apply hidden;
          }
          .editor-content {
            @apply hidden;
          }
          .editor-container {
            @apply m-0 p-0 block h-[30rem];
          }
        }
      }
    }

    fieldset {
      @apply border border-ft-dark dark:border-ft-light rounded-none m-0 p-2;
      legend {
        @apply font-bold uppercase;
      }
    }

    .field {
      @apply flex flex-col gap-1 mt-auto mb-0 !leading-2;
      label {
        @apply m-0 p-0 text-[0.5rem] !text-left uppercase;
      }
    }

    .effect {
      table {
        @apply h-4;
      }
      th,
      td {
        &:last-child {
          @apply text-left;
        }
      }
      .actions {
        @apply flex flex-col gap-1 justify-start;
        button[data-action] {
          @apply border-none w-auto px-1 cursor-pointer text-xs;
        }
      }
    }

    button {
      @apply border-ft-dark dark:border-ft-light bg-ft-dark/10 text-ft-dark dark:bg-ft-light/10 dark:text-ft-light;
    }

    .draggable {
      @apply cursor-grab;
    }

    a {
      text-shadow: none;
    }

    [data-action] {
      @apply cursor-pointer;
    }

    [data-action].sheet-button {
      @apply block bg-yellow-100 dark:bg-yellow-100/40;
      &:hover {
        @apply bg-yellow-300 dark:bg-yellow-300/40;
      }
    }
  }
}
