@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@source "../module/system/config.mjs";

.fantasy-trip,
.fantasy-trip.application {
  input,
  textarea,
  select {
    @apply w-full h-6 border border-stone-900 dark:border-stone-400 rounded-none m-0 p-1 !appearance-auto bg-white text-stone-900 dark:text-stone-200;
    &::placeholder {
      @apply opacity-80;
    }
    &:focus {
      @apply outline-none shadow-none;
    }
    &[readonly] {
      @apply cursor-not-allowed bg-transparent;
    }
    &[disabled] {
      @apply cursor-not-allowed text-stone-900/500 dark:text-stone-200 border-none;
    }
  }

  table {
    @apply text-xs m-0 p-0 text-stone-900 dark:text-stone-200;
    thead {
      text-shadow: none;
      @apply m-0 p-0 border-none bg-stone-700 text-stone-200 dark:bg-stone-200 dark:text-stone-900;
    }
    tr:nth-child(even) {
      @apply bg-stone-300 dark:bg-stone-700;
    }
    th,
    td {
      @apply p-1 whitespace-nowrap text-center;
      &:first-child {
        @apply text-left w-4;
      }
      &:nth-child(2) {
        @apply text-left;
      }
      &:last-child {
        @apply text-right;
      }
      img {
        @apply border-none m-0 p-0 min-w-[1em] min-h-[1em];
      }
    }
    tfoot {
      text-shadow: none;
      @apply m-0 p-0 border-none bg-stone-400 text-stone-900 dark:bg-stone-900 dark:text-stone-200;
    }
  }

  .sheet-tabs.tabs {
    @apply m-2 text-[0.6rem] uppercase text-stone-900 dark:text-stone-200;
    .active {
      /* text-shadow: none; */
      @apply font-bold;
    }
  }

  section.tab {
    @apply overflow-y-auto m-2 p-0;
  }

  section[data-tab="notes"] {
    .prosemirror.editor {
      .editor-content {
        @apply mt-6 block;
      }
      .editor-container {
        @apply mt-6 hidden;
      }
      &.active {
        a {
          @apply hidden;
        }
        .editor-content {
          @apply hidden;
        }
        .editor-container {
          @apply m-0 p-0 block h-[30rem];
        }
      }
    }
  }

  fieldset {
    @apply border border-stone-900 dark:border-stone-400 rounded-none m-0 p-1;
    legend {
      @apply text-stone-900 dark:text-stone-200;
    }
  }

  .field {
    @apply flex flex-col gap-1 mt-auto mb-0 !leading-2;
    label {
      @apply m-0 p-0 text-[0.5rem] !text-left uppercase text-stone-900 dark:text-stone-200;
    }
  }

  .effect {
    legend {
      @apply font-bold uppercase;
    }
    table {
      @apply h-4;
    }
    th,
    td {
      &:last-child {
        @apply text-left;
      }
    }
    .actions {
      @apply flex flex-col gap-1 justify-start;
      button[data-action] {
        @apply border-none w-auto px-1 cursor-pointer text-xs;
      }
    }
  }

  button {
    @apply bg-stone-300 text-stone-900;
  }

  .draggable {
    @apply cursor-grab;
  }

  a {
    text-shadow: none;
  }

  [data-action] {
    @apply cursor-pointer;
  }

  [data-action].sheet-button {
    @apply block bg-yellow-100 text-stone-900 dark:bg-yellow-900 dark:text-stone-200;
    &:hover {
      @apply bg-yellow-300 dark:bg-yellow-700;
    }
  }
}
