<form class="{{cssClass}}" autocomplete="off">
    {{!-- {{log .}} --}}
    <div class="sheet-content character">
        {{> (concat FT.path "/templates/sheet/character/_header.hbs")}}
        {{> (concat FT.path "/templates/sheet/character/_navigation.hbs")}}
        <section class="sheet-body">
            {{> (concat FT.path "/templates/sheet/character/_tab-character.hbs")}}
            {{> (concat FT.path "/templates/sheet/character/_tab-notes.hbs")}}
            {{> (concat FT.path "/templates/sheet/character/_tab-talents.hbs")}}
            {{> (concat FT.path "/templates/sheet/character/_tab-inventory.hbs")}}
            {{> (concat FT.path "/templates/sheet/character/_tab-spells.hbs")}}
            {{> (concat FT.path "/templates/sheet/character/_tab-effects.hbs")}}
        </section>
    </div>
</form>