/* @import "tailwindcss"; */

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

.fantasy-trip {
  & input,
  & textarea,
  & select {
    @apply w-full border rounded-sm m-0 p-1 !appearance-auto;
    &::placeholder {
      @apply opacity-80;
    }
    &:focus {
      @apply outline-none shadow-none;
    }
    &[readonly] {
      @apply cursor-not-allowed bg-transparent;
    }
    &[disabled] {
      @apply cursor-not-allowed text-black/50 border-none;
    }
  }

  & select {
    height: calc(var(--form-field-height));
  }

  & table {
    @apply text-xs;
    & thead {
      text-shadow: none;
      @apply bg-slate-500 border-none text-white;
    }
    & tr:nth-child(even) {
      @apply bg-slate-300;
    }
    & th,
    & td {
      @apply px-1 whitespace-nowrap text-center;
      &:first-child {
        @apply text-left w-4;
      }
      &:nth-child(2) {
        @apply text-left;
      }
      &:last-child {
        @apply text-right;
      }
      & img {
        @apply border-none m-0 p-0 min-w-[0.875rem] min-h-[0.875rem];
      }
    }
    & tfoot {
      text-shadow: none;
      @apply border-none bg-white text-black;
    }
  }

  /* & table {
    @apply text-sm m-0 border-none w-full;
    & thead {
      text-shadow: none;
      @apply bg-slate-400 border-none font-bold uppercase text-[0.5rem] text-white;
    }
    & tr:nth-child(even) {
      @apply bg-slate-300;
    }
    & th,
    & td {
      @apply m-0 p-0 whitespace-nowrap text-center;
      &:first-child {
        @apply text-left w-4;
      }
      &:nth-child(2) {
        @apply text-left;
      }
      &:last-child {
        @apply text-right;
      }
      & img {
        @apply border-none m-0 p-0 min-w-[0.875rem];
      }
      &i[class^="icon-"] {
        @apply align-text-top;
      }
      & tfoot {
        text-shadow: none;
        @apply bg-slate-400 border-none font-bold uppercase text-[0.5rem] text-white;
      }
    }
    & tfoot {
      text-shadow: none;
      @apply bg-slate-200 border-none font-bold uppercase text-[0.5rem] text-black;
    }
  } */

  & button {
    @apply bg-orange-300 text-black border-none w-auto min-w-6 m-0 p-0 cursor-pointer;
    &:hover {
      @apply bg-orange-200 shadow-none;
    }
  }

  & .clickable:hover {
    @apply !bg-orange-200 !text-black cursor-pointer;
  }
}
