/* @import "tailwindcss"; */

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

.fantasy-trip {
  & input,
  & textarea,
  & select {
    @apply w-full border rounded-sm m-0 p-1 !appearance-auto;
    &::placeholder {
      @apply opacity-80;
    }
    &:focus {
      @apply outline-none shadow-none;
    }
    &[readonly] {
      @apply cursor-not-allowed bg-transparent;
    }
    &[disabled] {
      @apply cursor-not-allowed text-black/50 border-none;
    }
  }

  & select {
    height: calc(var(--form-field-height));
  }

  & table {
    @apply text-xs m-0;
    & thead {
      text-shadow: none;
      @apply bg-slate-500 border-none text-white;
    }
    & tr:nth-child(even) {
      @apply bg-slate-300;
    }
    & th,
    & td {
      @apply px-1 whitespace-nowrap text-center;
      &:first-child {
        @apply text-left w-4;
      }
      &:nth-child(2) {
        @apply text-left;
      }
      &:last-child {
        @apply text-right;
      }
      & img {
        @apply border-none m-0 p-0 min-w-[1em] min-h-[1em];
      }
    }
    & tfoot {
      text-shadow: none;
      @apply border-none bg-white text-black;
    }
  }

  & .field {
    @apply flex flex-col gap-1 mt-auto mb-0 !leading-2;
    & label {
      @apply m-0 p-0 text-[0.5rem] !text-left uppercase;
    }
  }

  & .clickable {
    @apply cursor-pointer;
  }

  .effects {
    @apply flex flex-col gap-2;
    .effect {
      @apply border border-black rounded-sm m-0 p-1 flex flex-row gap-2;
      legend {
        @apply font-bold uppercase;
      }
      img {
        @apply w-12 h-12 border-none;
      }
      table {
        @apply h-4;
      }
      th,
      td {
        &:last-child {
          @apply text-left;
        }
      }
      .actions {
        @apply flex flex-col gap-1 justify-start;
        button.effect-manage {
          @apply border-none w-auto px-1 cursor-pointer text-xs;
          /* &:hover {
            @apply bg-cs5-gold-50;
          } */
        }
      }
    }
  }
}
