<!-- Sheet Tab Navigation -->
<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "FT.item.sheet.tab.description"}}</a>
    {{#if (eq item.type "equipment")}}
    <a class="item" data-tab="actions">{{localize "FT.item.sheet.tab.actions"}}</i></a>
    {{/if}}
    <a class="item" data-tab="effects">{{localize "FT.item.sheet.tab.effects"}}</i></a>
</nav>