{{!-- Character Tab --}}
<div class="tab character" data-group="primary" data-tab="character">
    <div class="flex flex-col gap-2">
        {{!-- Stats --}}
        {{> (concat FT.path "/templates/sheet/npc/_stats.hbs")}}
        {{!-- Status --}}
        {{> (concat FT.path "/templates/sheet/npc/_status.hbs")}}
        {{!-- Action/Combat --}}
        {{> (concat FT.path "/templates/sheet/npc/_action.hbs")}}
    </div>
</div>