{{!-- Sheet Header --}}
<header id="{{partId}}" class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-action="editImage" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields flex flex-row gap-1">
        <input class="name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    </div>
</header>