<form class="{{cssClass}}" autocomplete="off">
    {{!-- {{log .}} --}}
    <div class="sheet-content npc">
        {{> (concat FT.path "/templates/sheet/npc/_header.hbs")}}
        {{> (concat FT.path "/templates/sheet/npc/_navigation.hbs")}}
        <section class="sheet-body">
            {{> (concat FT.path "/templates/sheet/npc/_tab-character.hbs")}}
            {{> (concat FT.path "/templates/sheet/npc/_tab-notes.hbs")}}
            {{> (concat FT.path "/templates/sheet/npc/_tab-inventory.hbs")}}
            {{> (concat FT.path "/templates/sheet/npc/_tab-effects.hbs")}}
        </section>
    </div>
</form>